.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.logo-container {
  display: flex;
  align-items: center;
}
.ipl-logo {
  height: 80px;
  width: 60px;
}
.heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 48px;
  margin-left: 15px;
}
.teams-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
