.latest-match-container {
  margin-top: 24px;
}
.latest-matches-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}
.latest-match-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0f172a;
  border-radius: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .latest-match-card {
    flex-direction: row;
  }
}

.match-details-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .match-details-logo-container {
    width: 60%;
    padding-left: 32px;
    padding-right: 0px;
  }
}
.match-details-container-1 {
  width: 70%;
}
@media (min-width: 768px) {
  .match-details-container-1 {
    width: 48%;
  }
}
.latest-match-team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}
.latest-match-team-date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}
.match-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}
.match-logo {
  max-width: 60px;
}
@media (min-width: 768px) {
  .match-logo {
    max-height: 200px;
    max-width: 200px;
  }
}
.separator {
  width: 100%;
  border: 1px solid #475569;
}
@media (min-width: 768px) {
  .separator {
    display: none;
  }
}
.latest-match-card-2 {
  text-align: left;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .latest-match-card-2 {
    text-align: right;
    padding-right: 30px;
  }
}
.latest-match-details-label {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}
.match-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 14px;
}
